apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-microservice
  namespace: devops-ns
spec:
  replicas: 2  
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      containers:
      - name: devops
        image: devops-microservice:latest
        imagePullPolicy: Never 
        ports:
        - containerPort: 8000
